body, html { 
  background-color: white;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
  user-select: none;
}

#top{
  background-image: url('Media/grass.png');
  background-size: cover;
  height: 50px; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

#top-hr{ border-bottom: 1px solid green;}

#logo{ 
  left: 5px;
  top: 40px;
  position: sticky;
}

#logo span{
  font: 45px bold Andale Mono, monospace;
/*我還想加變化*/  
}

#top-btn{
  position: fixed;
  right: 5px;
  top: 5px;
}

#call-loginbtn, #registerbtn{
  border-style: none;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.5s;
}

#call-loginbtn:hover, #registerbtn:hover{
  background-color: rgba(72, 216, 46, 0.75);
}

#login-icon, #register-icon{
    width: 23px; 
    height: 23px;
  }

#product{
  display: flex; 
  justify-content: space-around;
}

#tabs li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
  font: 20px bold Andale Mono, monospace;
  flex: 1;
  padding: 0 50px 0 50px;
}

#tabs li a {
  text-decoration: none;
  position: relative; 
  display: inline-block;
  color: inherit;
  &:hover {
    color: rgb(13, 182, 64);
  }
}

#tabs li a::after {   
  content:" ";
  display:block; 
  width: 0%;
  height: 2px;
  background-color: rgb(13, 182, 64);
  transition: .4s .2s;
}

#tabs li a:hover::after {
  width: 100%;
}

#product_iframe{
  display: block;
  margin: 0 auto;
  width: 87%;
  height: 1300px;
  border: none;
  overflow: hidden;
}

